@import url("https://fonts.googleapis.com/css?family=Montserrat:100i,200,300,400,500,500i");

:root {
  --theme-color: #5FFB90;
  --secondary-color: #00E3BA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background-color: #fbfbfb;
}

section,
footer {
  padding: 35px 0;
}

footer {
  padding-top: 160px;
  background-image: url("./svg/footer-sm.svg");
  background-size: cover;
  background-position: center;
  background-color: #fff;
}

footer .container {
  margin-top: 100px;
}

header {
  background-image: url("./images/hero.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 1.5em 0 160px 0;
}

p {
  line-height: 143%;
}

h3,
h4 {
  margin-bottom: 1.4em;
}

h4,
h2,
h1 {
  text-align: center;
}


h2, h1 {
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: 300;
}

h1 {
  margin-bottom: 1.5em;
  font-size: 3em;
}


h2::after {
  margin-top: 1em;
  content: "";
  height: 5px;
  width: 9%;
  margin: 0 auto;
  margin-top: 1em;
  display: block;
  border-radius: 50px;
  background-color: var(--secondary-color);
}

.btn {
  background-color: var(--secondary-color);
  color: #fff;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 0.6em;
  transition: 0.5s all
}

.btn:hover {
  background-color: #03c4a0;
  color: #eee;
  border: 1px solid #03c4a0;
}

.copy {
  margin-bottom: 1.9em;
  text-align: center;
}

/*Links*/
a:link,
a:visited {
  text-decoration: none;
  font: 16px;
}

.burger-menu {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.header-nav .container {
  position: relative;
}

.burger-menu .line {
  background-color: #fff;
  height: 2px;
  width: 38px;
  margin-bottom: 8px;
}

.line:first-child {
  width: 30px;
}

 .nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: 0.5s all;
}

.open {
  height: 136px;
}

.link,
.logo {
  margin-bottom: 15px;
}

.logo a {
  color: #fff;
}

.logo a span {
  font-size: 24px;
  font-weight: 500;
}
.link {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}


.link:hover {
  color: #e9e9e9;
}


.link:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.logo {
  width: 40%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Section header */
.section-header {
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

/* Section About Us */
.section-about-us {
  box-shadow: ;
}

.description {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.img-wrapper {
  width: 100%;
  margin-bottom: 1.2em;
}

.img-wrapper img {
  width: 100%;
}

.inner-description {
  margin-bottom: 1.2em;
}

.inner-description .text {
  margin-bottom: 1.2em;
}

.inner-description .text:last-child {
  margin-bottom: 0;
}

.mission {
  padding-left: 1.5em;
  position: relative;
}

.mission h3 {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.mission p {
  font-size: 0.9em;
}

.text h4 {
  text-transform: uppercase;
  text-align: start;
}
.mission::before {
  left: 0;
  content: "";
  display: block;
  background-color: var(--secondary-color);
  width: 3px;
  height: 100%;
  position: absolute;
}

/* Section Our Services */
.section-our-services {
  background: #fff;
}

.services {
  display: flex;
  flex-direction: column;
}

.service {
  margin-bottom: 2em;
}

.service:last-child {
  margin-bottom: 0;
}

.icon {
  text-align: center;
  margin-bottom: 1.3em;
  color: var(--secondary-color);
}

.icon i {
  font-size: 40px;
}

/* Section Our Team */

.section-our-team {
  background-color: #fff;
}
.our-team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.image-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 1.3em;
}

.image-wrapper img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

/* Projects */

.section-projects {
  background-color: #fff;
}

.projects {
  display: flex;
  flex-direction: column;
}


.project .icon i {
  margin-right: 0.5em;
}

.project-image-wrapper {
  margin-bottom: 1em;
}

.project-image-wrapper img {
  width: 100%;
}

.text-wrapper {
  padding: 0 1em;
}

.project {
  padding: 0 0 1.5em 0;
  margin-bottom: 1.5em;
  background-color: #fbfbfb;
}

.text {
  margin-bottom: 1.5em;
}


/* Modal */
.modal-bg, .team-modal-bg  {
  margin: 0 auto;
  position: fixed;
  background-color: rgba(13, 12, 12, 0.6);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.modal, .team-modal {
background-color: #fff;
width: 90%;
height: 76%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
position: relative;
padding: 14px 14px;
overflow: hidden;
overflow-y: scroll;
}

.body {

  word-wrap: break-word;
}

.main-text, .team-main-text {
position: absolute;
top: 20px;
font-size: 13px;
padding: 14px;
right: 0;
}

.modal-text {
  margin-bottom: 1.5em;
}

.modal-active {
visibility: visible;
opacity: 1;
}

.close-modal {
position: absolute;
top: 0;
right: 15px;
margin-bottom: 1.5em;
}

.modal-img-wrapper {

  margin: 0 auto;
  width: 180px;
  height: 180px;
  margin-bottom: 2.3em;

}

.modal-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.qualification {
  margin-bottom: 1.2em;
  text-align: center;
  color: #777777;
  font-style: italic;
}
.close-modal p {
font-weight: bold;
cursor: pointer;
color: #ccc;
}


table {
  border-collapse: collapse;
  width: 100%;
  height: 150px;
}

table, th, td {
  border: 1px solid #ccc;
}

td {
  vertical-align: bottom;
}

th {
  background-color: var(--secondary-color);
  color: #fff;
}

tr:nth-child(even) {background-color: var(--theme-color)}

th, td {
  text-align: left;
  padding: 15px;
}

.table-wrapper {

overflow-x: auto;
}


/* Footer */
.footer {
  margin-bottom: 2em;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links .link {
  color: #fff;
}

.copy {
  text-transform: uppercase;
  color: #ecebeb;
}

@media(min-width: 500px) {


  .link {
    border-bottom: none;
    padding-bottom: 0px;
  }

}

@media(min-width: 700px) {

  .link {
    position: relative;
    margin-bottom: 0;

  }

  .link::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 5px;
    display: block;
    background-color:#e9e9e9;
    transition: all 0.5s ease-in;
    margin: 0 auto;
  }

  .link:hover::after {
    width: 100%;
  }

  .burger-menu {
    display: none;
  }

  .nav-links {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 50%;
  }

  .header-nav .container {
    display: flex;
    justify-content: space-between;
  }


  header {
    background-image: url("./images/hero.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  /* Services */
  .services {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .service {
    margin-bottom: 2em;
    width: 45%;
  }

  /* .service {
    margin-bottom: 0;
  } */


  /* Section Our Team */
  .our-team {
    flex-direction: row;
    justify-content: space-between;
  }

  .team {
    width: 25%;
    margin: 1em;
    cursor: pointer;
  }



  /* Projects */
  .projects {
    flex-direction: row;
    justify-content: space-between;
  }

/*
  .project .icon i {
    margin-right: 0.5em;
  }

  .project-image-wrapper {
    margin-bottom: 1em;
  }

  .project-image-wrapper img {
    width: 100%;
  } */

  .project {
    width: 40%;
  }


  /* Modal */

  .modal {
    height: 76%;
  }

  .team-modal {
    height: 76%;
  }



  /* Footer */
  footer {
    background-image: url("./svg/footer-md.svg");
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    margin: 0 auto;
}
}

@media(min-width: 969px) {
   /* About us */
   .section-about-us .description {
    flex-direction: row;
  }

  .img-wrapper {
    width: 45%;
    margin-right: 2em;
  }

  .img-wrapper img {
    width: 100%;
  }

  .inner-description {
    width: 45%;
  }

  .inner-description .text {
    margin-bottom: 1.2em;
  }

  .inner-description .text:last-child {
    margin-bottom: 0;
  }

  /* Service */
  .service {
    width: 26%;
  }

}

@media(min-width: 1440px) {
  footer {
    background-image: url("./svg/footer-lg.svg");
  }

  header {
    padding-bottom: 200px;
  }
}
